<nav class="nav">
  <h1 class="nav__logo">
    <span class="nav__logo--first">H</span>
    <span class="nav__logo--second">B</span>
  </h1>

  <ul class="nav__menu">
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Home</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Skills</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Projects</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Education</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Experience</a>
    </li>
    <li class="nav__menu-item">
      <a class="nav__menu-link" href="#">Contact</a>
    </li>
  </ul>

  <div class="nav__right">
    <figure>
      <img src="../../../assets/github.svg" alt="" />
    </figure>
    <figure>
      <img src="../../../assets/linkedin.svg" alt="" />
    </figure>
  </div>
</nav>
